language: python

dist: xenial

addons:
    apt:
        packages:
            - libxkbcommon-x11-0  # for PyQt 5.12

matrix:
    include:
        - &docs
          env: BUILD_DOCS=true ORANGE="master"
          python: '3.6'
          script: source $TRAVIS_BUILD_DIR/.travis/build_doc.sh
        - &python36
          python: '3.6'
          env: ORANGE="release"
        - &python37
          python: '3.7'
          env: ORANGE="release"
        - &master
          python: '3.6'
          env: ORANGE="master"
        - &orange3-25-1
          python: '3.7'
          env: ORANGE="3.25.1"  # 3.25.0 - has issues with scikit-learn

env:
    global:
        - BOTO_CONFIG=/dev/null  # it solves boto travis issue https://github.com/boto/boto/issues/3717

cache:
    apt: true   # does not work for public repos
    pip: true
    ccache: true

before_cache:   # prevent logs from caching
    - rm -f $HOME/.cache/pip/log/debug.log

before_install:
    - source $TRAVIS_BUILD_DIR/.travis/util.sh
    - pip install -U setuptools pip wheel
    - pip install codecov
    - mkdir -p /home/travis/.local/share/Orange  # create orange app dir

install:
    - pip install pyqt5 pyqtwebengine
    - pip install Orange3-Network
    - source $TRAVIS_BUILD_DIR/.travis/install_orange.sh
    - travis_wait pip install -r requirements.txt
    - pip install -e .

script:
    - XVFBARGS="-screen 0 1280x1024x24"
    - catchsegv xvfb-run -a -s "$XVFBARGS" coverage run setup.py test

after_success:
    - codecov
