language: python

sudo: false   # use container-based infrastructure

python:
  - "3.4"
  - "3.5"

addons:
    apt:
        packages:
            - gfortran
            - libblas-dev
            - liblapack-dev
            - libqt4-dev

cache:
    apt: true   # does not work for public repos
    directories:
        - $HOME/.cache/pip
        - $HOME/.ccache
        - $HOME/nltk_data

before_cache:   # prevent logs from caching
    - rm -f $HOME/.cache/pip/log/debug.log

before_install:
    - pip install -U setuptools pip wheel
    - pip install codecov

install:
    - travis_wait pip install -r requirements.txt
    - travis_wait pip install -r requirements-opt.txt
    - python setup.py develop   # assure version.py is present; required for imports

script:
    - coverage run setup.py test

after_success:
    - codecov
