include orangecontrib/text/tutorials/*.ows
include orangecontrib/text/datasets/*
include orangecontrib/text/widgets/icons/*
include orangecontrib/text/widgets/resources/*
include orangecontrib/text/tests/nyt-cache.txt
include orangecontrib/text/tests/tweets.json

include requirements.txt
include README.md
include README.pypi
include LICENSE
