recursive-include orangecontrib/text/datasets *.tab *.txt
recursive-include orangecontrib/text/sentiment *.txt
recursive-include orangecontrib/text/tests *.txt *.json
recursive-include orangecontrib/text/tutorials *.ows
recursive-include orangecontrib/text/widgets/icons *.svg *.png *.ai
recursive-include orangecontrib/text/widgets/resources *.js *.css *.html
recursive-include orangecontrib/text/widgets/tests/data
include orangecontrib/text/widgets/tests/bow-test
recursive-include scripts *.sh *.py

recursive-include doc *.py *.rst *.md *.png *.css *.bat *.json
include doc/Makefile

include requirements*.txt
include README.md
include README.pypi
include LICENSE
include CHANGELOG.md
include SERVERS.txt
include .coveragerc
include codecov.yml
include conda_environment.yml
